body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f8f8f8;
    color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.header-container {
    width: 100%;
}

header h3 img {
    width: 100px;
    height: auto;
}

main.container-fluid {
    max-width: 80%;
}

nav {
    text-align: right;
}

nav a {
    color: #ff6600;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-family: 'Montserrat', Arial, sans-serif;
}

nav a:hover {
    color: #ffcc66;
}

footer {
    background-color: #f8f8f8;
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

.blogShort {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.blogShort h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.blogShort em {
    color: #888;
    font-size: 14px;
    margin: 0;
    display: block;
}

.blogShort strong {
    font-weight: bold;
}

.blogShort a {
    color: #ff6600;
    text-decoration: none;
}

.blogShort a.btn-blog {
    color: #ffffff;
}

.blogShort a:hover {
    text-decoration: underline;
}

.blogShort article {
    font-size: 16px;
    margin-top: 15px;
}

.btn-blog {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-blog:hover {
    background-color: #ffcc66;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.recipe-title {
    color: #ff6600;
}


.section-title {
    color: #333;
}


.details-list {
    list-style-type: none;
    padding: 0;
}

.detail-item {
    margin-bottom: 10px;
}


a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffcc66;
}

header.container-fluid {
    box-shadow: 0 6px 14px #ddd;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ff6600;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 470px;
    z-index: 1;
}

.nav-item a {
    color: #343a40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: auto;
}

.navbar-expand .navbar-nav .dropdown:hover .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 130px;
    left: -100%;
    justify-content: space-evenly;
    margin-top: 0;
}

.pagination {
    padding: 25px 0;
    justify-content: center;
}

.pagination a.page-item {
    border: 1px solid;
    border-radius: 7px;
    padding: 10px 15px;
    margin: 0 5px;
    box-shadow: 0 0px 5px #ddd;
}

.pagination a.page-item.active {
    background-color: #ff6600;
    color: #fff;
}

form.searchbar {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 2px;
    max-width: 600px;
    margin: 0 auto;
    --bg-cl-form: #fafafa;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--ts-gutter-y));
    margin-inline-end: calc(-.5 * var(--ts-gutter-x));
    margin-inline-start: calc(-.5 * var(--ts-gutter-x));
    flex-direction: row;
    align-items: center;
}

.searchbar select {
    width: 100%;
    height: 40px;
    vertical-align: middle;
    transition: border-color .5s;
    -moz-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==);
    background-position: right 10px top 50%;
    background-size: auto 18px;
    background-repeat: no-repeat;
    border: 0;
    max-width: 100%;
    padding: 0 45px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    color: #000;
    border-radius: 60px;
    cursor: pointer;
}

.searchbar *:focus-visible {
    outline: none;
}

.searchbar input[type="text"] {
    background-color: transparent;
    padding: 0 15px;
    height: 40px;
    border: 0;
    width: 100%;
    line-height: 18px;
    color: #000;
    border-radius: 60px;
    font-size: 13px;
}

.searchbar button.search-btn {
    min-width: 130px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.searchbar .partition-bar {
    height: 18px;
    background-color: #ddd;
    width: 1.5px;
}


.home-user-dashboard .login-success-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

.home-user-dashboard .user-dashboard {
    display: flex;
    min-height: 100vh;
}

.home-user-dashboard .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
}

.home-user-dashboard .sidebar h2 {
    margin-bottom: 20px;
    color: #333;
}

.home-user-dashboard .sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: background-color 0.3s ease;
}

.home-user-dashboard .sidebar ul li a:hover {
    background-color: #e9ecef;
}

.home-user-dashboard .main-container {
    flex: 1;
    padding: 20px;
}

.home-user-dashboard .user-info {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.home-user-dashboard button.edit-button a {
color: #fff;
}