body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f8f8f8;
    color: #131b5d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
header h3 {
    font-size: xx-large;
}
header h3 img {
    width: 100px;
    height: auto;
}

nav {
    margin: 0 0 0 auto;
}

nav a {
    color: #131b5d;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    font-family: 'Montserrat', Arial, sans-serif;
}

nav a:hover {
    color: #5564f6;
}

footer {
    background-color: #f8f8f8;
    color: #131b5d;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', Arial, sans-serif;
}
.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: 20px auto;
}
.container.view-recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 80vw;
    margin: 50px auto;
}
.blogShort {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 20%;
}

.blogShort h3 {
    color: #b1c2b6;
    font-size: 24px;
    margin: 0;
}

.blogShort em {
    color: #888;
    font-size: 14px;
    margin: 0;
    display: block;
}

.blogShort strong {
    font-weight: bold;
}

.blogShort a {
    color: #131b5d;
    text-decoration: none;
}

.blogShort a.btn-blog {
    color: #ffffff;
}

.blogShort a:hover {
    text-decoration: underline;
}

.blogShort article {
    font-size: 16px;
    margin-top: 15px;
}

.btn-blog {
    background-color: #131b5d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-blog:hover {
    background-color: #5564f6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.recipe-title {
    color: #131b5d;
}


.section-title {
    color: #b1c2b6;
}


.details-list {
    list-style-type: none;
    padding: 0;
}

.detail-item {
    margin-bottom: 10px;
}


a {
    color: #131b5d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #131b5d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5564f6;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display as a flex container */
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #131b5d; /* Link text color */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}
.navbar li.dropdown {
    position: relative;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #131b5d;
    background: #ffffff91;
    min-width: 165px;
    z-index: 1;
}

.dropdown-content a {
    color: #131b5d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 130px;
    justify-content: space-evenly;
}
main.searchpage-main {
    padding: 50px;
    margin-bottom: 100px;
}
.search-section {
    width: 40%;
    padding: 0 50px;
}
form.searchbar {
    display: flex;
    height: 40px;
}
.search-category-container select {
    height: 40px;
    padding: 0 5px;
    background: #131b5d;
    color: #fff;
}
.search-bar-container {
    width: 100%;
}
.search-bar-container input[type="text"] {
    height: 37px;
    width: 100%;
    padding: 0 5px !important;
}
button.search-btn {
    padding: 0 20px;
}